$inspired-orange: #f39312;
$inspired-red: #e9423b;
$inspired-grey: #48626f;

@import "./rc-cropping";
@import "./rc-dialog";

@import "../pages/MainPage/main";
@import "../pages/Landing/landing";
@import "../pages/ProfilePage/index.module";

@import "../components/UserHeader/index.module";
@import "../components/RoomList/index.module";
@import "../components/CreateRoomForm/index.module";
@import "../components/RoomHeader/index.module";
@import "../components/MessageList/index.module";
@import "../components/CreateMessageForm/index.module";
@import "../components/UserList/index.module";
@import "../components/ToolBar/index.module";
@import "../components/Lightbox/index.module";
@import "../components/FavouriteList/index.module";


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background: $inspired-orange;
}

.text--display1, .text--display2, .text--display3, h1, h2, h3 {
  stroke: transparent;
  fill: rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  font-weight: 600;
  letter-spacing: -.02em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button,
input {
  outline: none;
  min-width: 0;
  flex: none;
}

input {
  background-color: white;
}

img,
svg {
  display: block;
  flex: none;
}

main {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.homeNavBar {
  background: white !important;
  border-bottom: 1px solid $inspired-orange;
}

.main-body {
  height: calc(100vh - 76px);
}

@media (max-width: 640px) {
  .main-body {
    height: calc(100vh - 56px);
  }
}