.message-list {
  flex: 1 1 100%;
  padding: 1rem;
  margin: 0;
  display: flex;
  overflow-y: auto;
  border: none;
  -webkit-overflow-scrolling: touch;

}

.message-list > wrapper- {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}

.empty {
  margin: auto;
  text-align: center;
  color: #b6b6b6;
}

.empty > * + * {
  margin-top: 1rem;
}

.empty > span {
  font-size: 3rem;
}

.empty > p {
  font-size: 1rem;
  line-height: 150%;
  max-width: 40ex;
}

.message {
  position: relative;
  display: flex;
  flex: none;
  font-size: 16px;
  padding-top: 1rem;

  .image-messsage {
    cursor: pointer;
  }

  .gallery-message {
    width: 30rem;
    max-width: 100%;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 0;
    padding: 1em;
    cursor: pointer;

    .gallery-title {
      text-align: center;
      margin: 0 15px 15px;
    }

    .gallery-pictures {
      display: grid;
      grid-template-columns: 3fr 2fr 1fr 2fr 3fr;
      grid-template-rows: 1fr 1fr 10fr 1fr 1fr;

      > img {
        cursor: pointer;
        //box-shadow: 0 0 2px #000;
        border-radius: 3px;
        border: 1px solid lightgray;
        max-width: 100%;
        height: auto;

        &:nth-of-type(1) {
          grid-row: 1 / span 3;
          grid-column: 1 / span 2;
        }

        &:nth-of-type(2) {
          grid-row: 2 / span 3;
          grid-column: 2 / span 3;
        }

        &:nth-of-type(3) {
          grid-row: 3 / span 3;
          grid-column: 4 / span 2;
        }
      }
    }
  }

}

.message:not(:last-child) {
  border-top: 1px solid #f2f2f2;
  margin-top: 1rem;
}

.message > img {
  flex: none;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.38rem;
}

.message > div > img,
.message > div > video,
.message > div > audio {
  width: 30rem;
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  min-width: 0;
}

.message > * + * {
  margin-left: 0.38rem;
}

.message > div {
  margin-left: 1rem;
}

.message > div > p,
.message > div > a {
  padding-top: 0.5rem;
  max-width: 100%;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.8);
  line-height: 150%;
  max-width: 100ex;
}

.message > div a {
  color: #006eff;
}

.message > div > span {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.62rem;
  color: #b6b6b6;
  margin: 0;
}

.online::before {
  display: block;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background: #42b72a;
  border-radius: 50%;
  margin-right: 0.38rem;
}
