@charset "UTF-8";
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px; }

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb; }

.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.rc-slider-handle:hover {
  border-color: #57c5f7; }

.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
  outline: none; }

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px; }

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999; }

.rc-slider-mark-text-active {
  color: #666; }

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent; }

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle; }

.rc-slider-dot-active {
  border-color: #96dbfa; }

.rc-slider-disabled {
  background-color: #e9e9e9; }

.rc-slider-disabled .rc-slider-track {
  background-color: #ccc; }

.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed; }

.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important; }

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px; }

.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px; }

.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px; }

.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%; }

.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px; }

.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px; }

.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px; }

.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
  animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
  animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }

@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip-hidden {
  display: none; }

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0; }

.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9; }

.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c; }

@font-face {
  font-family: 'rc-crop';
  /* project id："178487" */
  src: url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.eot");
  src: url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.eot") format("embedded-opentype"), url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.woff") format("woff"), url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.ttf") format("truetype"), url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.svg#rc-crop") format("svg"); }

.cropper-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1; }

.cropper-icon:before {
  display: block;
  font-size: 14px;
  font-family: "rc-crop" !important; }

.cropper-icon-picture:before {
  content: '\E602'; }

.cropper-icon-upload:before {
  content: '\E617'; }

.cropper-icon-delete:before {
  content: '\E656'; }

.rc-preview {
  position: relative; }

.rc-preview-wrapper {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  vertical-align: top;
  display: inline-block; }

.rc-preview-mask {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 36px;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease-in-out; }

.rc-preview-mask:hover {
  opacity: 1; }

.rc-preview-mask .anticon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px; }

.rc-cropper-wrapper {
  overflow: hidden;
  background-color: #f2f2f2;
  padding-right: 200px;
  position: relative; }

.rc-thumbnail-preview {
  position: absolute;
  height: 100%;
  width: 200px;
  right: 0;
  top: 0;
  padding: 0 14px;
  background-color: white; }

.rc-thumbnail-preview .size-1x,
.rc-thumbnail-preview .size-2x {
  text-align: center;
  margin: 20px 0; }

.rc-thumbnail-preview canvas {
  image-rendering: optimizeQuality;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor; }

.rc-thumbnail-preview canvas.radius {
  border-radius: 50%; }

.rc-crop-viewer-uploader {
  width: 100%;
  height: 100%;
  border: 1px dashed #d9d9d9;
  transition: border-color 0.3s ease;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  position: relative; }

.rc-crop-viewer-uploader .rc-upload-drag-icon .anticon {
  font-size: 80px;
  margin-top: -5px;
  color: #57c5f7; }

.rc-crop-viewer-uploader .rc-upload-text {
  font-size: 14px; }

.rc-crop-viewer-uploader:hover {
  border-color: #57c5f7; }

.rc-cropper {
  padding-bottom: 34px;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  position: relative; }

.rc-thumbnail {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  position: relative; }

.rc-thumbnail img {
  position: absolute;
  top: 0; }

.rc-thumbnail .thumbnail-window {
  width: 320px;
  height: 320px;
  box-shadow: 0 0 2px rgba(45, 183, 245, 0.5);
  overflow: hidden;
  position: relative; }

.rc-background {
  position: absolute;
  opacity: .3;
  cursor: move; }

.rc-scaller {
  display: inline-block;
  text-align: center;
  margin-right: 200px; }

.rc-scaller button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer; }

.rc-scaller button:disabled {
  opacity: .3; }

.rc-scaller .anticon {
  margin: 10px 5px; }

.rc-scaller .anticon.smaller {
  font-size: 12px; }

.rc-scaller .anticon.larger {
  font-size: 16px; }

.rc-scaller .rc-slider {
  width: 150px;
  display: inline-block;
  vertical-align: bottom;
  border-color: transparent;
  margin: 3px 5px; }

.candrag-notice-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px; }

.candrag-notice-wrapper .candrag-notice {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 6px 12px; }

.rc-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 4px 15px;
  font-size: 12px;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: #666;
  background-color: #f7f7f7;
  border-color: #d9d9d9; }

.rc-btn-primary {
  color: #fff;
  background-color: #2db7f5;
  border-color: #2db7f5; }

.rc-btn-primary:hover {
  color: #fff;
  background-color: #57c5f7;
  border-color: #57c5f7; }

.rc-btn-ghost {
  color: #666;
  background-color: transparent;
  border-color: #d9d9d9; }

.rc-btn-ghost:hover {
  color: #57c5f7;
  background-color: transparent;
  border-color: #57c5f7; }
@charset "UTF-8";
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px; }

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb; }

.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.rc-slider-handle:hover {
  border-color: #57c5f7; }

.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
  outline: none; }

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px; }

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999; }

.rc-slider-mark-text-active {
  color: #666; }

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent; }

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle; }

.rc-slider-dot-active {
  border-color: #96dbfa; }

.rc-slider-disabled {
  background-color: #e9e9e9; }

.rc-slider-disabled .rc-slider-track {
  background-color: #ccc; }

.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed; }

.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important; }

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px; }

.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px; }

.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px; }

.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%; }

.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px; }

.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px; }

.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px; }

.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
  animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
  animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }

@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip-hidden {
  display: none; }

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0; }

.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9; }

.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c; }

@font-face {
  font-family: 'rc-crop';
  /* project id："178487" */
  src: url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.eot");
  src: url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.eot") format("embedded-opentype"), url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.woff") format("woff"), url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.ttf") format("truetype"), url("//at.alicdn.com/t/font_b46n7aif4ci35wmi.svg#rc-crop") format("svg"); }

.cropper-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1; }

.cropper-icon:before {
  display: block;
  font-size: 14px;
  font-family: "rc-crop" !important; }

.cropper-icon-picture:before {
  content: '\E602'; }

.cropper-icon-upload:before {
  content: '\E617'; }

.cropper-icon-delete:before {
  content: '\E656'; }

.rc-preview {
  position: relative; }

.rc-preview-wrapper {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  vertical-align: top;
  display: inline-block; }

.rc-preview-mask {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 36px;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease-in-out; }

.rc-preview-mask:hover {
  opacity: 1; }

.rc-preview-mask .anticon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px; }

.rc-cropper-wrapper {
  overflow: hidden;
  background-color: #f2f2f2;
  padding-right: 200px;
  position: relative; }

.rc-thumbnail-preview {
  position: absolute;
  height: 100%;
  width: 200px;
  right: 0;
  top: 0;
  padding: 0 14px;
  background-color: white; }

.rc-thumbnail-preview .size-1x,
.rc-thumbnail-preview .size-2x {
  text-align: center;
  margin: 20px 0; }

.rc-thumbnail-preview canvas {
  image-rendering: optimizeQuality;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor; }

.rc-thumbnail-preview canvas.radius {
  border-radius: 50%; }

.rc-crop-viewer-uploader {
  width: 100%;
  height: 100%;
  border: 1px dashed #d9d9d9;
  transition: border-color 0.3s ease;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  position: relative; }

.rc-crop-viewer-uploader .rc-upload-drag-icon .anticon {
  font-size: 80px;
  margin-top: -5px;
  color: #57c5f7; }

.rc-crop-viewer-uploader .rc-upload-text {
  font-size: 14px; }

.rc-crop-viewer-uploader:hover {
  border-color: #57c5f7; }

.rc-cropper {
  padding-bottom: 34px;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  position: relative; }

.rc-thumbnail {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  position: relative; }

.rc-thumbnail img {
  position: absolute;
  top: 0; }

.rc-thumbnail .thumbnail-window {
  width: 320px;
  height: 320px;
  box-shadow: 0 0 2px rgba(45, 183, 245, 0.5);
  overflow: hidden;
  position: relative; }

.rc-background {
  position: absolute;
  opacity: .3;
  cursor: move; }

.rc-scaller {
  display: inline-block;
  text-align: center;
  margin-right: 200px; }

.rc-scaller button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer; }

.rc-scaller button:disabled {
  opacity: .3; }

.rc-scaller .anticon {
  margin: 10px 5px; }

.rc-scaller .anticon.smaller {
  font-size: 12px; }

.rc-scaller .anticon.larger {
  font-size: 16px; }

.rc-scaller .rc-slider {
  width: 150px;
  display: inline-block;
  vertical-align: bottom;
  border-color: transparent;
  margin: 3px 5px; }

.candrag-notice-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px; }

.candrag-notice-wrapper .candrag-notice {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 6px 12px; }

.rc-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 4px 15px;
  font-size: 12px;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: #666;
  background-color: #f7f7f7;
  border-color: #d9d9d9; }

.rc-btn-primary {
  color: #fff;
  background-color: #2db7f5;
  border-color: #2db7f5; }

.rc-btn-primary:hover {
  color: #fff;
  background-color: #57c5f7;
  border-color: #57c5f7; }

.rc-btn-ghost {
  color: #666;
  background-color: transparent;
  border-color: #d9d9d9; }

.rc-btn-ghost:hover {
  color: #57c5f7;
  background-color: transparent;
  border-color: #57c5f7; }

.rc-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.rc-dialog-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.rc-dialog-title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold; }

.rc-dialog-content {
  position: relative;
  background-color: #ffffff;
  border: none;
  border-radius: 6px 6px;
  background-clip: padding-box; }

.rc-dialog-close {
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 21px;
  position: absolute;
  right: 20px;
  top: 12px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  text-decoration: none; }

.rc-dialog-close-x:after {
  content: '\D7'; }

.rc-dialog-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none; }

.rc-dialog-header {
  padding: 13px 20px 14px 20px;
  border-radius: 5px 5px 0 0;
  background: #fff;
  color: #666;
  border-bottom: 1px solid #e9e9e9; }

.rc-dialog-body {
  padding: 20px; }

.rc-dialog-footer {
  border-top: 1px solid #e9e9e9;
  padding: 10px 20px;
  text-align: right;
  border-radius: 0 0 5px 5px; }

.rc-dialog-zoom-enter,
.rc-dialog-zoom-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused; }

.rc-dialog-zoom-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused; }

.rc-dialog-zoom-enter.rc-dialog-zoom-enter-active,
.rc-dialog-zoom-appear.rc-dialog-zoom-appear-active {
  animation-name: rcDialogZoomIn;
  animation-play-state: running; }

.rc-dialog-zoom-leave.rc-dialog-zoom-leave-active {
  animation-name: rcDialogZoomOut;
  animation-play-state: running; }

@keyframes rcDialogZoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }

@keyframes rcDialogZoomOut {
  0% {
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    transform: scale(0, 0); } }

@media (min-width: 768px) {
  .rc-dialog {
    width: 600px;
    margin: 30px auto; } }

.rc-dialog-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  filter: alpha(opacity=50);
  z-index: 1050; }

.rc-dialog-mask-hidden {
  display: none; }

.rc-dialog-fade-enter,
.rc-dialog-fade-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused; }

.rc-dialog-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused; }

.rc-dialog-fade-enter.rc-dialog-fade-enter-active,
.rc-dialog-fade-appear.rc-dialog-fade-appear-active {
  animation-name: rcDialogFadeIn;
  animation-play-state: running; }

.rc-dialog-fade-leave.rc-dialog-fade-leave-active {
  animation-name: rcDialogFadeOut;
  animation-play-state: running; }

@keyframes rcDialogFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rcDialogFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body,
html,
div.board,
div#react-container {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

.displ {
  margin: 3%;
  display: inline;
  float: left; }

.pdispl {
  margin: 3%;
  display: inline;
  float: left; }

.yellowNote {
  background-color: #fff9c4; }

div.note {
  height: 150px;
  width: 150px;
  color: black;
  background-color: #fff9c4;
  padding-bottom: 10px;
  margin: 6px 0 !important;
  border: 20px;
  margin: 2px 0;
  position: relative;
  cursor: -webkit-grab;
  -transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out; }

.note:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.2);
  transform: scale(1.2); }

div.note:active {
  cursor: -webkit-grabbing; }

div.note p {
  font-size: 18px;
  padding: 5px;
  background-color: #fff9c4;
  word-wrap: break-word; }

div.note:hover > span {
  opacity: 1; }

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear; }

div.note button {
  margin: 2px; }

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, 0.5); }

.glyphicon-plus {
  position: fixed;
  top: 10px;
  right: 10px; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

.text--display1, .text--display2, .text--display3, h1, h2, h3 {
  stroke: transparent;
  fill: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  letter-spacing: -.02em; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

button,
input {
  outline: none;
  min-width: 0;
  flex: none; }

img,
svg {
  display: block;
  flex: none; }

main {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden; }

.homeNavBar {
  background: white !important;
  border-bottom: 1px solid lightgrey; }

.main-body {
  height: calc(100vh - 56px); }

.typewriteColor {
  color: orange; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

.firstPage {
  text-align: center;
  margin-top: 15%; }

.secondPage {
  text-align: center;
  margin-top: 6%; }

.thirdPage {
  text-align: center;
  margin-top: 5%; }

.fourthPage {
  text-align: center;
  margin-top: 5%; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.user-header {
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  flex: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 4.8rem; }

.user-header > * + * {
  margin-left: 1rem; }

.user-header > img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.38rem;
  background: #e0e0e0; }

.user-header h3 {
  color: rgba(0, 0, 0, 0.38); }

.user-header h3:empty {
  display: block;
  background: #f2f2f2;
  width: 10rem;
  height: 1rem;
  animation: pulse 1s infinite; }

.user-header h5:empty {
  display: block;
  background: #f2f2f2;
  height: 0.5rem;
  animation: pulse 1s infinite;
  width: 6rem;
  line-height: 100%;
  margin-top: 0.38rem; }

.user-header h5 {
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.2rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.38); }

@keyframes pulse {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

.rc-dialog-wrap img {
  max-width: none; }

.rc-btn-ghost, .rc-preview-wrapper {
  display: none; }

.profilePage {
  background-color: #fafafa; }
  .profilePage a {
    cursor: pointer;
    color: #1f24cc;
    text-decoration: none; }
  .profilePage h1, .profilePage h2, .profilePage h3, .profilePage h4, .profilePage h5, .profilePage h6 {
    padding: 0 0 8px;
    color: rgba(0, 0, 0, 0.87); }
  .profilePage h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold; }
  .profilePage .flush--bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
  .profilePage .profileContainer {
    margin-top: 30px;
    text-align: center; }
    .profilePage .profileContainer > img {
      margin-bottom: 10px; }
    .profilePage .profileContainer > h3 {
      color: #A0A4A9; }
    .profilePage .profileContainer .profile-edit-container {
      display: inline; }
  .profilePage .profile-row-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 960px; }
    .profilePage .profile-row-section .profile-body {
      min-height: 300px;
      padding-bottom: 1.25em;
      padding-top: 1.25em; }
      .profilePage .profile-row-section .profile-body .profile-context {
        width: 100%;
        position: relative; }
        .profilePage .profile-row-section .profile-body .profile-context .profile-box {
          border-radius: 3px;
          background-color: #fff;
          margin-bottom: 16px;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-bottom: 1px solid rgba(0, 0, 0, 0.26);
          -moz-background-clip: padding;
          -webkit-background-clip: padding;
          -o-background-clip: padding-box;
          -ms-background-clip: padding-box;
          -khtml-background-clip: padding-box;
          background-clip: padding-box;
          overflow: hidden;
          width: 100%; }
          .profilePage .profile-row-section .profile-body .profile-context .profile-box .padding-bottom {
            padding-bottom: 16px; }
          .profilePage .profile-row-section .profile-body .profile-context .profile-box .docSection {
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: 1px solid transparent;
            padding: 16px 16px 0; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .docSection:first-child {
              border-top: none; }
          .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol {
            width: 70%;
            float: left; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col {
              padding: 0 15px 15px 0; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .text--display3 {
                font-size: 28px;
                line-height: 1.25; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profile-content-item {
                padding-top: 0;
                padding-bottom: 1.1em;
                word-wrap: break-word;
                white-space: normal; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profile-content-item > p {
                  margin: 0 0 16px;
                  padding: 0; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profile-content-item .editable {
                  font-style: italic;
                  color: grey; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profileQuestionsSection {
                padding: 0 0 4px; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profileQuestionsSection .unit {
                  float: left;
                  min-height: 1px; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profileQuestionsSection .size1of3 {
                  width: 33.33333%; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--lcol .inner-col .profileQuestionsSection .lastUnit {
                  display: table-cell;
                  float: none;
                  width: auto; }
          .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol {
            width: 30%;
            float: left; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol > .docSection {
              padding: 16px 0; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .small {
              font-size: 13px;
              line-height: 1.6; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .big {
              font-size: 20px;
              line-height: 1.25;
              font-weight: 500;
              letter-spacing: -.02em; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .padding-none {
              padding: 0;
              margin: 0; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .rounded-corner-top {
              -webkit-border-bottom-left-radius: 3px;
              -webkit-border-bottom-right-radius: 3px;
              -moz-border-radius-bottomleft: 3px;
              -moz-border-radius-bottomright: 3px;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .photo-nav-links {
              border-top: 1px solid rgba(0, 0, 0, 0.12);
              text-align: center; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .photo-nav-links .photo-nav-link {
                line-height: 2; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .photo-nav-links .photo-nav-link:visited {
                  color: #1f24cc; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .pipeList {
              padding-left: 0; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul {
              list-style-position: outside; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul.inlineblockList > li {
                display: inline-block;
                list-style: none;
                border: none; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul.topic-widget-root {
                border-top: 1px solid rgba(0, 0, 0, 0.12);
                padding-top: 8px; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul.resetList {
                margin: 8px 0 16px 0;
                padding: 0;
                list-style-type: none; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul li {
                border-color: rgba(0, 0, 0, 0.12);
                margin: 0;
                padding: 0;
                border-right: 1px solid; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul li:last-child {
                  margin-right: 0;
                  padding-right: 0;
                  border-right-width: 0; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul li a {
                  font-weight: 400; }
                  .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol ul li a:visited {
                    cursor: pointer;
                    color: #1f24cc;
                    text-decoration: none; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .profileImageContainer {
              min-width: 240px;
              text-align: center;
              overflow: hidden; }
              .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .profileImageContainer a {
                display: inline-block;
                min-width: 240px; }
                .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .profileImageContainer a > img {
                  width: 240px;
                  height: auto;
                  padding: 0;
                  border: 0;
                  line-height: 0; }
            .profilePage .profile-row-section .profile-body .profile-context .profile-box .profile-box--rcol .interest-topics {
              border-top: none;
              margin: 24px 0 0;
              padding: 0 15px; }

.room-list {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column; }

.room-list li {
  flex: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.038); }

.room-list li:hover {
  background: rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.5); }

.room-list li[disabled] {
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  color: rgba(0, 0, 0, 0.62); }

.room-list span {
  display: block;
  white-space: nowrap; }

.room-list col- {
  overflow: hidden; }

.room-list label {
  display: none; }

.room-list label:not(:empty) {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.62rem;
  height: 1.62rem;
  padding: 0;
  border-radius: 0.38rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 1rem; }

.room-list svg,
.room-list img {
  width: 2.4rem;
  height: 2.4rem;
  fill: rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  border-radius: 50%; }

.room-list h2 {
  font-size: 1rem;
  padding: 1rem;
  background: #fcfcfc;
  color: #b6b6b6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.room-list h2:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.room-list span:not(:empty) {
  display: block;
  font-weight: normal;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

main aside {
  flex: none;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fcfcfc;
  z-index: 2;
  transform: rotateY(360deg); }

main section {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

main row- {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden; }

main col- {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

main section:not(.dragging) > input[type='file'] {
  transform: translate(100%); }

@media (max-width: 640px) {
  main aside {
    position: absolute;
    left: 0;
    top: 8.3rem;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
    box-shadow: 0 0 0.38rem rgba(0, 0, 0, 0.1); }
  main aside[data-open='true'] {
    transform: translateX(0); }
  main aside[data-open='true'] + section > *:not(header) {
    opacity: 0.2;
    transition: opacity 0.4s;
    overflow: hidden; } }

.create-room-form {
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  height: 3.6rem;
  display: flex;
  width: 100%;
  margin-top: auto; }

.create-room-form > input {
  flex: 1 1 100%;
  padding: 1rem;
  border: 0;
  font-size: 1rem; }

.create-room-form > button > input {
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1; }

.create-room-form > * {
  margin-right: 0.38rem; }

.create-room-form button {
  position: relative;
  border: 0;
  padding: 0;
  background: #fff; }

.create-room-form svg {
  width: 2rem;
  height: 2rem;
  fill: #006eff; }

.create-room-form input[type='checkbox']:not(:checked) + svg {
  opacity: 0.38; }

.room-header {
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  flex: none;
  display: flex;
  align-items: center;
  padding: 0.62rem;
  height: 4.8rem; }
  .room-header .room-delete-container {
    background-color: #dc3545;
    border-color: #dc3545; }
    .room-header .room-delete-container span {
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600; }
  .room-header .room-invite-container {
    background-color: #28a745;
    border-color: #28a745;
    margin-right: 0.4rem;
    padding: 0.62rem 1rem; }
    .room-header .room-invite-container span {
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600; }

.room-header button {
  background: transparent;
  border: 0;
  padding: 0; }

.room-header h1 {
  font-size: 1.38rem;
  color: rgba(0, 0, 0, 0.62);
  margin: auto; }

.room-header span {
  color: rgba(0, 0, 0, 0.62); }

.room-header div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: center;
  padding: 0.62rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none; }

.room-header div > * + * {
  margin-left: 0.38rem; }

.room-header svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgba(0, 0, 0, 0.38); }

@media (min-width: 640px) {
  .room-header button {
    display: none; } }

.message-list {
  flex: 1 1 100%;
  padding: 1rem;
  border-bottom: 2rem solid #fafafa;
  margin: 0;
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.message-list > wrapper- {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse; }

.empty {
  margin: auto;
  text-align: center;
  color: #b6b6b6; }

.empty > * + * {
  margin-top: 1rem; }

.empty > span {
  font-size: 3rem; }

.empty > p {
  font-size: 1rem;
  line-height: 150%;
  max-width: 40ex; }

.message {
  position: relative;
  display: flex;
  flex: none;
  font-size: 16px;
  padding-top: 1rem; }

.message:not(:last-child) {
  border-top: 1px solid #f2f2f2;
  margin-top: 1rem; }

.message > img {
  flex: none;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.38rem; }

.message > div > img,
.message > div > video,
.message > div > audio {
  width: 30rem;
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  min-width: 0; }

.message > * + * {
  margin-left: 0.38rem; }

.message > div {
  margin-left: 1rem; }

.message > div > p,
.message > div > a {
  padding-top: 0.5rem;
  max-width: 100%;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.8);
  line-height: 150%;
  max-width: 100ex; }

.message > div a {
  color: #006eff; }

.message > div > span {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.62rem;
  color: #b6b6b6;
  margin: 0; }

.online::before {
  display: block;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background: #42b72a;
  border-radius: 50%;
  margin-right: 0.38rem; }

.create-message-form {
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  height: 3.6rem;
  display: flex;
  width: 100%; }

.create-message-form input:first-child {
  flex: 1 1 100%;
  padding: 1rem;
  border: 0;
  font-size: 1rem; }

.create-message-form button {
  position: relative;
  border: 0;
  background: #fff;
  padding: 0; }

.create-message-form > * {
  margin-right: 0.62rem; }

.create-message-form svg {
  width: 2rem;
  height: 2rem;
  fill: #006eff; }

.file-input-container {
  position: relative; }

.file-input {
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.user-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 24rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.user-list > li {
  flex: none;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.38);
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .user-list > li.search-bar {
    position: relative;
    padding: 0;
    margin: 0; }
    .user-list > li.search-bar > input {
      position: relative;
      border: 0;
      margin: 0 0.8rem;
      height: 3.4rem; }
  .user-list > li > a {
    position: relative;
    display: block;
    margin-left: auto; }
  .user-list > li img {
    width: 1.38rem;
    height: 1.38rem;
    border-radius: 0.1rem;
    margin-right: 0.62rem; }
  .user-list > li p {
    margin: 0; }

.user-list > li:hover {
  background: rgba(0, 0, 0, 0.015); }

.online::after {
  display: block;
  content: '';
  width: 0.62rem;
  height: 0.62rem;
  background: #42b72a;
  border-radius: 50%;
  margin-left: auto; }

@media (max-width: 1000px) {
  .user-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 18rem;
    box-shadow: 0 0.38rem 0.62rem rgba(0, 0, 0, 0.1);
    max-height: 62vh; } }
