.rc-dialog-wrap {
  img {
    max-width: none;
  }
}

.rc-btn-ghost, .rc-preview-wrapper{
  display: none;
}

.profilePage {
  background-color: #fafafa;

  a {
    cursor: pointer;
    color: #1f24cc;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0 0 8px;
    color: rgba(0,0,0,.87);
  }

  h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

  .flush--bottom {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
  }

  .profileContainer {
    margin-top: 30px;
    text-align: center;

    > img {
      margin-bottom: 10px;
    }

    > h3 {
      color: #A0A4A9
    }

    .profile-edit-container {
      display: inline;
    }
  }

  .profile-row-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 960px;

    .profile-body {
      min-height: 300px;
      padding-bottom: 1.25em;
      padding-top: 1.25em;

      .profile-context {
        width: 100%;
        position: relative;

        .profile-box {
          border-radius: 3px;
          background-color: #fff;
          margin-bottom: 16px;
          border: 1px solid rgba(0,0,0,.12);
          border-bottom: 1px solid rgba(0,0,0,.26);
          -moz-background-clip: padding;
          -webkit-background-clip: padding;
          -o-background-clip: padding-box;
          -ms-background-clip: padding-box;
          -khtml-background-clip: padding-box;
          background-clip: padding-box;
          overflow:hidden;
          width: 100%;

          .padding-bottom {
            padding-bottom: 16px;
          }

          .docSection {
            border-top: 1px solid rgba(0,0,0,.12);
            border-bottom: 1px solid transparent;
            padding: 16px 16px 0;

            &:first-child {
              border-top: none;
            }
          }

         .profile-box--lcol {
            width: 70%;
            float: left;

            .inner-col {
              padding: 0 15px 15px 0;

              .text--display3 {
                font-size: 28px;
                line-height: 1.25;
              }

              .profile-content-item {
                padding-top: 0;
                padding-bottom: 1.1em;
                word-wrap: break-word;
                white-space: normal;

                > p {
                  margin: 0 0 16px;
                  padding: 0;
                  height: 1.5rem;
                }

                .editable {
                  font-style: italic;
                  color: grey;
                  outline: 0 solid transparent;
                }
              }

              .profileQuestionsSection {
                padding: 0 0 4px;

                .unit {
                  float: left;
                  min-height: 1px;
                }

                .size1of3 {
                  width: 33.33333%;
                }

                .lastUnit {
                  display: table-cell;
                  float: none;
                  width: auto;
                }
              }

            }
          }

          .profile-box--rcol {
            width: 30%;
            float: left;

            > .docSection {
              padding: 16px 0;
            }

            .small {
              font-size: 13px;
              line-height: 1.6;
            }

            .big {
              font-size: 20px;
              line-height: 1.25;
              font-weight: 500;
              letter-spacing: -.02em;
            }

            .padding-none {
              padding: 0;
              margin: 0;
            }

            .rounded-corner-top {
              -webkit-border-bottom-left-radius: 3px;
              -webkit-border-bottom-right-radius: 3px;
              -moz-border-radius-bottomleft: 3px;
              -moz-border-radius-bottomright: 3px;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;
            }

            .photo-nav-links {
              border-top: 1px solid rgba(0,0,0,.12);
              text-align: center;

              .photo-nav-link {
                line-height: 2;

                &:visited {
                  color: #1f24cc;
                }
              }
            }

            .pipeList {
              padding-left: 0;
            }

            ul {
              list-style-position: outside;

              &.inlineblockList {
                > li {
                  display: inline-block;
                  list-style: none;
                  border: none;
                }
              }

              &.topic-widget-root {
                border-top: 1px solid rgba(0,0,0,.12);
                padding-top: 8px;
              }

              &.resetList {
                margin: 8px 0 16px 0;
                padding: 0;
                list-style-type: none;
              }

              li {
                border-color: rgba(0,0,0,.12);
                margin: 0;
                padding: 0;
                border-right: 1px solid;

                &:last-child {
                  margin-right: 0;
                  padding-right: 0;
                  border-right-width: 0;
                }

                a {
                  font-weight: 400;

                  &:visited {
                    cursor: pointer;
                    color: #1f24cc;
                    text-decoration: none;
                  }
                }
              }
            }

            .profileImageContainer {
              min-width: 240px;
              text-align: center;
              overflow: hidden;

              a {
                display: inline-block;
                min-width: 240px;

                > img {
                  width: 240px;
                  height: auto;
                  padding: 0;
                  border: 0;
                  line-height: 0;
                }
              }
            }

            .interest-topics {
              border-top: none;
              margin: 24px 0 0;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}
